@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "TT Chocolates bold";
  src: url("./Fonts/tt_chocolates_bold.otf");
}
@font-face {
  font-family: "TT Chocolates demibold";
  src: url("./Fonts/tt_chocolates_demibold.otf");
}
@font-face {
  font-family: "TT Chocolates medium";
  src: url("./Fonts/tt_chocolates_medium.otf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "TT Chocolates", Arial, Helvetica, sans-serif;
  background: rgba(175, 238, 238, 0.514);
}

h1 {
  font-family: "TT Chocolates bold", Arial, Helvetica, sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "TT Chocolates demibold", Arial, Helvetica, sans-serif;
}

p,
input,
label,
Button {
  font-family: "TT Chocolates medium", Arial, Helvetica, sans-serif;
}

label {
  color: grey;
}

#floatingInput {
  text-align: right;
}
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  transform: scale(0.85) translateY(-0.7rem) translateX(1.5rem);
  z-index: 99999;
  background-color: white;
  padding: 0;
  height: auto;
  opacity: 1;
}

.alignText {
  text-align: right;
}

.buttonCenter {
    display: flex;
    margin:auto;
    padding: 12px 35px;
}

.btn {
    border: none;
    border-radius: 30px;
    background: #ff916f;
}

.btn:hover {
    background: #cf6c4e;
}

.btn.disabled {
    background: #ff916fbd;
}

.bgColor {
    background: white;
}

.closeButton {
  float: right;
}